<!-- <div class="ui-s480">
  <ui-card class="elevate-on-toolbar">
    <ui-toolbar class="flat">
      <span class="title">Presença</span>
    </ui-toolbar>
    <ui-card-content>
      <ui-input-container>
        <input #inputCodigo="ngModel" type="number" [(ngModel)]="codigo" name="codigo" uiInput required (blur)="inserirPresenca(codigo)">
        <label>Código do aluno</label>
      </ui-input-container>
    </ui-card-content>
  </ui-card>
</div> -->

<div class="ui-s600">
  <ui-card class="elevate-on-toolbar">
    <ui-toolbar class="flat">
      <span class="title">Alunos presentes</span>
    </ui-toolbar>
    <ui-list [list]="menuList" [item-model]="itemModel">
      <div class="ui-list-item multi-line">
        <div class="lines">
          Jamal indiano
        </div>
        <div class="action">
          <ui-option>
            <input type="checkbox" [(ngModel)]="checkboxTest" [checked]="checkboxTest">
          </ui-option>
        </div>
      </div>
    </ui-list>
  </ui-card>
</div>